#header {

  @include mobile{
    background-color: $primary-dark;
    color: $white;
  }
  
  .header_inner {
    padding: 16px 0;
    @include flex(row, space-between, center);
    position: relative;

    .header-left {

      @include mobile{
        display: none;
      }

      .logo {
        height: 100%;

        img {
          vertical-align: middle;
        }
      }
    }

    .header-left-mobile{
      display: none;

      display: flex;
      .mobile-icon{
        @include flex(column, center, center);
        margin-right: 12px;
        cursor: pointer;

        .line{
          display: inline-block;
          height: 2px;
          width: 20px;
          margin-bottom: 5px;
          background-color: $white;
        }
      }
      .mobile-logo{
        height: 100%
      }
    }

    .header-middle {
      @include flex(row, space-between, center);
      width: 50%;

      @include mobile{
        display: none;
      }
      
      .search-block {
        background-color: $white-2;
        padding: 12px 16px;
        border-radius: 8px;
        width: 100%;
        margin-right: 32px;

        span {
          color: $dark-2;
          margin-right: 22px;
        }
        input {
          border: 0;
          background-color: transparent;
          color: $gray-7;
        }
      }

      .language_block {
        @include flex(row, center, center);

        .globe {
          font-size: 20px;
          margin-right: 8px;
        }
        .langs {
          position: relative;

          .langs_list {
            font-family: $font-Euclid-Circular-A;
            font-size: 14px;
            font-weight: 400;
            appearance: none;
            outline: none;
            border: 0;
            text-transform: uppercase;
            padding-right: 5px;
          }
          .arrow {
            font-size: 13px;
            position: absolute;
            right: 0;
            top: 1px;
            cursor: pointer;
          }
        }
      }
    }

    .header_list {
      @include flex(row, center, center);

      > span {
        font-size: 18px;

        &:not(:last-child) {
          margin-right: 24px;
        }
      }

      .bag_block {
        @include flex(row,center,center);

        .bag {
          margin-right: 12px;
          vertical-align: middle;
        }
        .bag_add_count {
          display: inline-block;
          width: 22px;
          height: 22px;
          border-radius: 50%;
          background-color: $primary-pink;
          color: $white;
          font-family: $font-Euclid-Circular-A;
          font-size: 12px;
          font-weight: 400;
          line-height: 16px;
          @include flex(row, center, center);
        }
      }
    }
  }

  .nav {
    background-color: $primary-dark;
    overflow: hidden;
    transition: .8s;

    @include mobile {
      position: absolute;
      left: -70%;
      width: 70%;
      z-index: 10;
    }

    ul {
      @include flex(row, space-between, center);

      @include mobile{
        flex-direction: column;
        align-items:flex-start;
      }

      li {
        padding: 17px 15px;
        a {
          color: $white;
          font-family: $font-Euclid-Circular-A;
          font-size: 14px;
          line-height: 16px;
          font-weight: 400;
          text-transform: uppercase;
        }
      }
      
    }
    .search-area{
      width: 80%;
      margin: auto;
      margin-bottom: 20px;
      display: none;

      @include mobile{
        display: block;
      }
      
    .search-block {
      background-color: $white-2;
      padding: 12px 16px;
      border-radius: 8px;
      width: 100%;
      margin-right: 32px;
      width: 100%;

      span {
        color: $dark-2;
        margin-right: 22px;
      }
      input {
        border: 0;
        background-color: transparent;
        color: $gray-7;
      }
    }
    form{
      display: flex;
    }
  }
  }
}
