//Color
$primary-dark: #1d2123;
$primary-dark-2:#4F4F4F;
$primary-dark-3:#828282;
$primary-dark-4:#F6F6F8;
$white: #fff;
$primary-pink: #ed008c;
$primary-gray:#E5E5E5;
$primary-gray-1:#333333;
$primary-gray-2:#4F4F4F;
$primary-gray-3:#828282;
$primary-gray-4:#BDBDBD;
$gray-6:#F2F2F2;
$primary-gray-6:#E0E0E0;
$orange:#F2994A;
$blue-2:#2D9CDB;

// Font Style
$font-Euclid-Circular-A: Euclid Circular A, sans-serif;
$font-SF-Pro-Text: SF-Pro-Text, sans-serif;

// Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
