// HOME
#home {
  height: 100vh;
  padding: 100px 0;
  position: relative;

  .home_inner {
    align-items: center;
    height: 100%;

    .home_left {
      h6 {
        font-size: 18px;
        color: $black;
        margin-bottom: 15px;
        font-weight: 500;
      }
      h1 {
        font-size: 60px;
        font-weight: 600;
        margin-bottom: 15px;
        color: $black;
        line-height: 1;
      }
      h2 {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 15px;
        color: $black;

        .writer {
          border-bottom: 1px solid $black;
        }

        .thick {
          margin-left: 4px;
        }
      }
      p {
        color: $black;
      }
      .home_btns {
        margin-top: 25px;

        a {
          color: #fff;
          padding: 10px 30px;
          @include text-transform(uppercase);
          font-size: 14px;
          border: 2px solid transparent;
          transition: ease 0.55s;

          &:first-child {
            margin-right: 15px;
            background-color: $orange;
          }
          &:nth-child(1):hover {
            background-color: $black;
          }
          &:last-child {
            border-color: $orange;
            color: $orange;
          }
          &:nth-child(2):hover {
            background-color: $orange;
            color: $white;
          }
        }
      }
    }

    .home_right {
      img {
        vertical-align: middle;
      }
    }
  }
  .go_to {
    width: 100%;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;

    a {
      width: 35px;
      height: 35px;
      display: inline-block;
      background-color: $orange;
      border-radius: 50%;
      position: relative;
      text-align: center;
      animation: arrow 1s linear infinite;

      @keyframes arrow {
        0% {
          opacity: 100%;
          top: -10px;
        }
        50% {
          opacity: 100%;
          top: 0;
        }
        100% {
          opacity: 0;
          top: 10px;
        }
      }
      span {
        position: absolute;
        height: 10px;
        width: 10px;
        border-top: 1px solid $white;
        border-right: 1px solid $white;
        top: -6px;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        transform: rotate(135deg);
      }
    }
  }
}

// About

#about {
  background-color: $gray;

  .about_inner {
    .about_bottom {
      align-items: center;
      justify-content: flex-start;
      .about_left {
        border: 14px solid $white;
        border-radius: 5px;
        position: relative;
        margin-top: 15px;
        box-shadow: $box_shadow;

        img {
          vertical-align: middle;
        }

        .social {
          position: absolute;
          left: -10px;
          top: 20px;
          background-color: $white;
          padding: 8px;

          li {
            margin-bottom: 5px;
            background-color: $orange;
            text-align: center;
          }

          li a {
            display: block;
            padding: 8px 12px;
            font-size: 12px;
            color: $white;

            &:hover {
              background-color: $black;
            }
          }
        }
      }

      .about_right {
        padding-left: 60px;

        h4 {
          font-size: 40px;
          font-weight: 600;
          margin-bottom: 10px;
          color: $black;
        }

        h6 {
          font-size: 18px;
          font-weight: 400;
          color: $black;
          margin-bottom: 20px;

          span {
            color: $orange;
          }
        }

        > p {
          margin-bottom: 1rem;
        }

        .about_list {
          .about_list_left,
          .about_list_right {
            .list {
              @include flex(row, flex-start, flex-start);

              &:not(:last-child) {
                margin: 10px 0;
              }
            }

            span {
              font-size: 14px;
              font-weight: 600;
              border-right: 1px solid $border_gray;
              color: $black;
              flex: 0 0 90px;
              max-width: 90px;
            }

            p {
              font-size: 14px;
              margin-left: 15px;
            }
          }
        }

        .dwnload_btn {
          margin-top: 50px;

          a {
            background-color: $orange;
            color: $white;
            @include text-transform(uppercase);
            padding: 12px 20px;

            &:hover {
              background-color: $black;
            }
          }
        }
      }
    }
  }
}

// SKILLS
#skills {
  .skill_bottom {
    @include flex(row, space-between, center);
    .progress {
      @include flex(column, center, center);
      margin-bottom: 20px;

      .progress_in {
        width: 100%;

        &:not(:last-child) {
          margin-bottom: 30px;
        }
        .progress_info {
          @include flex(row, space-between, center);
          h6 {
            color: $black;
            font-size: 16px;
            margin-bottom: 10px;
            display: inline-block;
          }
        }
        .progress_bar {
          height: 5px;
          background-color: $gray;
          position: relative;

          .persent_bar {
            position: absolute;
            left: 0;
            top: 0;
            width: 92%;
            height: 100%;
            background-color: $orange;

            .percent_info {
              position: relative;

              span {
                position: absolute;
                left: 92%;
                right: 0;
                top: -30px;
                text-align: right;
              }
            }
          }
        }
      }
    }

    .skill_lists {
      display: flex;
      flex-wrap: wrap;

      .skill_list {
        padding: 15px;

        .skill_list_in {
          border: 2px solid $orange;
          border-radius: 5px;
          @include flex(row, flex-start, center);
          padding: 18px 15px;
          height: 100%;

          span {
            color: $orange;
            font-size: 30px;
            margin-right: 20px;
          }
          h5 {
            font-size: 15px;
            color: $black;
            line-height: 1.2;
          }
        }
      }
    }
  }
}

#services {
  background-color: $gray;

  .services_inner .service_blocks {
    display: flex;
    flex-wrap: wrap;

    .service_block {
      padding: 15px;

      .service_block_in {
        padding: 40px 30px;
        background-color: $white;
        border-radius: 5px;
        span {
          @include flex(row, center, center);
          border: 2px dotted $orange;
          color: $orange;
          font-size: 32px;
          width: 80px;
          height: 80px;
          margin-bottom: 30px;
          border-radius: 50%;
        }
        h5 {
          font-size: 16px;
          color: $black;
          margin-bottom: 10px;
        }

        &:hover {
          margin-top: -10px;
          background-color: $orange;
          transition: ease all 0.35s;

          span {
            color: $white;
            border-color: $white;
          }
          h5 {
            color: $white;
          }
        }
      }
    }
  }
}

#works {
  .works_inner .work_images > div {
    padding-top: 10px;
    padding-bottom: 10px;

    .work_image {
      position: relative;
      height: 100%;
      overflow: hidden;

      img{
        transform: scale(1);
        transition: ease all .35s;
      }

      .img_title {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        @include flex(column, center, center);
        background-color: $hover_gray;
        transition: ease all 0.35s;
        opacity: 0;

        h3,
        p {
          position: relative;
          transition: ease all 0.35s;
          left: -25px;
        }
        h3 {
          font-size: 25px;
          font-weight: 600;
          color: $white;
          margin-bottom: 10px;
        }
        p {
          color: rgba(255, 255, 255, 0.8);
          padding: 2px 12px;
          font-size: 14px;
        }
      }

      &:hover {
        img {
          transform: scale(1.1);
        }
        .img_title {
          opacity: 100%;

          h3,
          p {
            left: 0;
          }
        }
      }
    }
  }
}