@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  color: #555a64;
  overflow-x: hidden;
}

section {
  padding: 100px 0;
}

.container {
  max-width: 100%;
  margin: auto;
  padding: 0 15px;
  height: 100%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

[class*="col-"] {
  padding: 0 15px;
  width: 100%;
}

.col-1 {
  width: calc(100% * 1 / 12);
}

.col-2 {
  width: calc(100% * 2 / 12);
}

.col-3 {
  width: calc(100% * 3 / 12);
}

.col-4 {
  width: calc(100% * 4 / 12);
}

.col-5 {
  width: calc(100% * 5 / 12);
}

.col-6 {
  width: calc(100% * 6 / 12);
}

.col-7 {
  width: calc(100% * 7 / 12);
}

.col-8 {
  width: calc(100% * 8 / 12);
}

.col-9 {
  width: calc(100% * 9 / 12);
}

.col-10 {
  width: calc(100% * 10 / 12);
}

.col-11 {
  width: calc(100% * 11 / 12);
}

.col-12 {
  width: calc(100% * 12 / 12);
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .col-sm-1 {
    width: calc(100% * 1 / 12);
  }
  .col-sm-2 {
    width: calc(100% * 2 / 12);
  }
  .col-sm-3 {
    width: calc(100% * 3 / 12);
  }
  .col-sm-4 {
    width: calc(100% * 4 / 12);
  }
  .col-sm-5 {
    width: calc(100% * 5 / 12);
  }
  .col-sm-6 {
    width: calc(100% * 6 / 12);
  }
  .col-sm-7 {
    width: calc(100% * 7 / 12);
  }
  .col-sm-8 {
    width: calc(100% * 8 / 12);
  }
  .col-sm-9 {
    width: calc(100% * 9 / 12);
  }
  .col-sm-10 {
    width: calc(100% * 10 / 12);
  }
  .col-sm-11 {
    width: calc(100% * 11 / 12);
  }
  .col-sm-12 {
    width: calc(100% * 12 / 12);
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .col-md-1 {
    width: calc(100% * 1 / 12);
  }
  .col-md-2 {
    width: calc(100% * 2 / 12);
  }
  .col-md-3 {
    width: calc(100% * 3 / 12);
  }
  .col-md-4 {
    width: calc(100% * 4 / 12);
  }
  .col-md-5 {
    width: calc(100% * 5 / 12);
  }
  .col-md-6 {
    width: calc(100% * 6 / 12);
  }
  .col-md-7 {
    width: calc(100% * 7 / 12);
  }
  .col-md-8 {
    width: calc(100% * 8 / 12);
  }
  .col-md-9 {
    width: calc(100% * 9 / 12);
  }
  .col-md-10 {
    width: calc(100% * 10 / 12);
  }
  .col-md-11 {
    width: calc(100% * 11 / 12);
  }
  .col-md-12 {
    width: calc(100% * 12 / 12);
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .col-lg-1 {
    width: calc(100% * 1 / 12);
  }
  .col-lg-2 {
    width: calc(100% * 2 / 12);
  }
  .col-lg-3 {
    width: calc(100% * 3 / 12);
  }
  .col-lg-4 {
    width: calc(100% * 4 / 12);
  }
  .col-lg-5 {
    width: calc(100% * 5 / 12);
  }
  .col-lg-6 {
    width: calc(100% * 6 / 12);
  }
  .col-lg-7 {
    width: calc(100% * 7 / 12);
  }
  .col-lg-8 {
    width: calc(100% * 8 / 12);
  }
  .col-lg-9 {
    width: calc(100% * 9 / 12);
  }
  .col-lg-10 {
    width: calc(100% * 10 / 12);
  }
  .col-lg-11 {
    width: calc(100% * 11 / 12);
  }
  .col-lg-12 {
    width: calc(100% * 12 / 12);
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .col-lg-1 {
    width: calc(100% * 1 / 12);
  }
  .col-lg-2 {
    width: calc(100% * 2 / 12);
  }
  .col-lg-3 {
    width: calc(100% * 3 / 12);
  }
  .col-lg-4 {
    width: calc(100% * 4 / 12);
  }
  .col-lg-5 {
    width: calc(100% * 5 / 12);
  }
  .col-lg-6 {
    width: calc(100% * 6 / 12);
  }
  .col-lg-7 {
    width: calc(100% * 7 / 12);
  }
  .col-lg-8 {
    width: calc(100% * 8 / 12);
  }
  .col-lg-9 {
    width: calc(100% * 9 / 12);
  }
  .col-lg-10 {
    width: calc(100% * 10 / 12);
  }
  .col-lg-11 {
    width: calc(100% * 11 / 12);
  }
  .col-lg-12 {
    width: calc(100% * 12 / 12);
  }
}

.current a {
  color: #d9832e !important;
}

.section_title {
  margin-bottom: 35px;
}

.section_title h3 {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #090a0c;
  position: relative;
  text-transform: uppercase;
}

.section_title h3:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 50px;
  display: block;
  background-color: #d9832e;
}

.section_title p {
  font-size: 14px;
  letter-spacing: 2px;
}

header {
  position: fixed;
  height: 60px;
  width: 100%;
  background-color: #fff;
  z-index: 100;
}

header .header_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
}

header .header_inner > a {
  color: #090a0c;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

header .header_inner nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header_inner nav ul li a {
  padding: 0 15px;
  color: #090a0c;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 2px;
}

header .header_inner nav ul li a:hover {
  color: #d9832e;
}

header .header_inner .nav_btn {
  width: 40px;
  height: 40px;
  background-color: #d9832e;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  cursor: pointer;
}

header .header_inner .nav_btn:focus {
  border: 1px solid #090a0c;
  border-radius: 5px;
}

header .header_inner .nav_btn span {
  width: 25px;
  height: 2px;
  background-color: #fff;
  margin: 3px 0;
}

#home {
  height: 100vh;
  padding: 100px 0;
  position: relative;
}

#home .home_inner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

#home .home_inner .home_left h6 {
  font-size: 18px;
  color: #090a0c;
  margin-bottom: 15px;
  font-weight: 500;
}

#home .home_inner .home_left h1 {
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #090a0c;
  line-height: 1;
}

#home .home_inner .home_left h2 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
  color: #090a0c;
}

#home .home_inner .home_left h2 .writer {
  border-bottom: 1px solid #090a0c;
}

#home .home_inner .home_left h2 .thick {
  margin-left: 4px;
}

#home .home_inner .home_left p {
  color: #090a0c;
}

#home .home_inner .home_left .home_btns {
  margin-top: 25px;
}

#home .home_inner .home_left .home_btns a {
  color: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  font-size: 14px;
  border: 2px solid transparent;
  -webkit-transition: ease 0.55s;
  transition: ease 0.55s;
}

#home .home_inner .home_left .home_btns a:first-child {
  margin-right: 15px;
  background-color: #d9832e;
}

#home .home_inner .home_left .home_btns a:nth-child(1):hover {
  background-color: #090a0c;
}

#home .home_inner .home_left .home_btns a:last-child {
  border-color: #d9832e;
  color: #d9832e;
}

#home .home_inner .home_left .home_btns a:nth-child(2):hover {
  background-color: #d9832e;
  color: #fff;
}

#home .home_inner .home_right img {
  vertical-align: middle;
}

#home .go_to {
  width: 100%;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
}

#home .go_to a {
  width: 35px;
  height: 35px;
  display: inline-block;
  background-color: #d9832e;
  border-radius: 50%;
  position: relative;
  text-align: center;
  -webkit-animation: arrow 1s linear infinite;
          animation: arrow 1s linear infinite;
}

@-webkit-keyframes arrow {
  0% {
    opacity: 100%;
    top: -10px;
  }
  50% {
    opacity: 100%;
    top: 0;
  }
  100% {
    opacity: 0;
    top: 10px;
  }
}

@keyframes arrow {
  0% {
    opacity: 100%;
    top: -10px;
  }
  50% {
    opacity: 100%;
    top: 0;
  }
  100% {
    opacity: 0;
    top: 10px;
  }
}

#home .go_to a span {
  position: absolute;
  height: 10px;
  width: 10px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  top: -6px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

#about {
  background-color: #eaedf2;
}

#about .about_inner .about_bottom {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#about .about_inner .about_bottom .about_left {
  border: 14px solid #fff;
  border-radius: 5px;
  position: relative;
  margin-top: 15px;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(38, 59, 94, 0.1);
          box-shadow: 0px 3px 10px 0px rgba(38, 59, 94, 0.1);
}

#about .about_inner .about_bottom .about_left img {
  vertical-align: middle;
}

#about .about_inner .about_bottom .about_left .social {
  position: absolute;
  left: -10px;
  top: 20px;
  background-color: #fff;
  padding: 8px;
}

#about .about_inner .about_bottom .about_left .social li {
  margin-bottom: 5px;
  background-color: #d9832e;
  text-align: center;
}

#about .about_inner .about_bottom .about_left .social li a {
  display: block;
  padding: 8px 12px;
  font-size: 12px;
  color: #fff;
}

#about .about_inner .about_bottom .about_left .social li a:hover {
  background-color: #090a0c;
}

#about .about_inner .about_bottom .about_right {
  padding-left: 60px;
}

#about .about_inner .about_bottom .about_right h4 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #090a0c;
}

#about .about_inner .about_bottom .about_right h6 {
  font-size: 18px;
  font-weight: 400;
  color: #090a0c;
  margin-bottom: 20px;
}

#about .about_inner .about_bottom .about_right h6 span {
  color: #d9832e;
}

#about .about_inner .about_bottom .about_right > p {
  margin-bottom: 1rem;
}

#about .about_inner .about_bottom .about_right .about_list .about_list_left .list,
#about .about_inner .about_bottom .about_right .about_list .about_list_right .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#about .about_inner .about_bottom .about_right .about_list .about_list_left .list:not(:last-child),
#about .about_inner .about_bottom .about_right .about_list .about_list_right .list:not(:last-child) {
  margin: 10px 0;
}

#about .about_inner .about_bottom .about_right .about_list .about_list_left span,
#about .about_inner .about_bottom .about_right .about_list .about_list_right span {
  font-size: 14px;
  font-weight: 600;
  border-right: 1px solid #c1c1c1;
  color: #090a0c;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 90px;
          flex: 0 0 90px;
  max-width: 90px;
}

#about .about_inner .about_bottom .about_right .about_list .about_list_left p,
#about .about_inner .about_bottom .about_right .about_list .about_list_right p {
  font-size: 14px;
  margin-left: 15px;
}

#about .about_inner .about_bottom .about_right .dwnload_btn {
  margin-top: 50px;
}

#about .about_inner .about_bottom .about_right .dwnload_btn a {
  background-color: #d9832e;
  color: #fff;
  text-transform: uppercase;
  padding: 12px 20px;
}

#about .about_inner .about_bottom .about_right .dwnload_btn a:hover {
  background-color: #090a0c;
}

#skills .skill_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#skills .skill_bottom .progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

#skills .skill_bottom .progress .progress_in {
  width: 100%;
}

#skills .skill_bottom .progress .progress_in:not(:last-child) {
  margin-bottom: 30px;
}

#skills .skill_bottom .progress .progress_in .progress_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#skills .skill_bottom .progress .progress_in .progress_info h6 {
  color: #090a0c;
  font-size: 16px;
  margin-bottom: 10px;
  display: inline-block;
}

#skills .skill_bottom .progress .progress_in .progress_bar {
  height: 5px;
  background-color: #eaedf2;
  position: relative;
}

#skills .skill_bottom .progress .progress_in .progress_bar .persent_bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 92%;
  height: 100%;
  background-color: #d9832e;
}

#skills .skill_bottom .progress .progress_in .progress_bar .persent_bar .percent_info {
  position: relative;
}

#skills .skill_bottom .progress .progress_in .progress_bar .persent_bar .percent_info span {
  position: absolute;
  left: 92%;
  right: 0;
  top: -30px;
  text-align: right;
}

#skills .skill_bottom .skill_lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#skills .skill_bottom .skill_lists .skill_list {
  padding: 15px;
}

#skills .skill_bottom .skill_lists .skill_list .skill_list_in {
  border: 2px solid #d9832e;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 15px;
  height: 100%;
}

#skills .skill_bottom .skill_lists .skill_list .skill_list_in span {
  color: #d9832e;
  font-size: 30px;
  margin-right: 20px;
}

#skills .skill_bottom .skill_lists .skill_list .skill_list_in h5 {
  font-size: 15px;
  color: #090a0c;
  line-height: 1.2;
}

#services {
  background-color: #eaedf2;
}

#services .services_inner .service_blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#services .services_inner .service_blocks .service_block {
  padding: 15px;
}

#services .services_inner .service_blocks .service_block .service_block_in {
  padding: 40px 30px;
  background-color: #fff;
  border-radius: 5px;
}

#services .services_inner .service_blocks .service_block .service_block_in span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px dotted #d9832e;
  color: #d9832e;
  font-size: 32px;
  width: 80px;
  height: 80px;
  margin-bottom: 30px;
  border-radius: 50%;
}

#services .services_inner .service_blocks .service_block .service_block_in h5 {
  font-size: 16px;
  color: #090a0c;
  margin-bottom: 10px;
}

#services .services_inner .service_blocks .service_block .service_block_in:hover {
  margin-top: -10px;
  background-color: #d9832e;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
}

#services .services_inner .service_blocks .service_block .service_block_in:hover span {
  color: #fff;
  border-color: #fff;
}

#services .services_inner .service_blocks .service_block .service_block_in:hover h5 {
  color: #fff;
}

#works .works_inner .work_images > div {
  padding-top: 10px;
  padding-bottom: 10px;
}

#works .works_inner .work_images > div .work_image {
  position: relative;
  height: 100%;
  overflow: hidden;
}

#works .works_inner .work_images > div .work_image img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
}

#works .works_inner .work_images > div .work_image .img_title {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(9, 10, 12, 0.5);
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
  opacity: 0;
}

#works .works_inner .work_images > div .work_image .img_title h3,
#works .works_inner .work_images > div .work_image .img_title p {
  position: relative;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
  left: -25px;
}

#works .works_inner .work_images > div .work_image .img_title h3 {
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 10px;
}

#works .works_inner .work_images > div .work_image .img_title p {
  color: rgba(255, 255, 255, 0.8);
  padding: 2px 12px;
  font-size: 14px;
}

#works .works_inner .work_images > div .work_image:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#works .works_inner .work_images > div .work_image:hover .img_title {
  opacity: 100%;
}

#works .works_inner .work_images > div .work_image:hover .img_title h3,
#works .works_inner .work_images > div .work_image:hover .img_title p {
  left: 0;
}

#blogs .blog_card .blog_img a {
  color: #d9832e;
}

#blogs .blog_card .blog_img a img {
  height: auto;
}

#blogs .blog_card .blog_info {
  background-color: #fff;
  position: relative;
  top: -30px;
  margin: 0 10px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 8px 0px black;
          box-shadow: 0px 0px 8px 0px black;
}

#blogs .blog_card .blog_info .date {
  position: absolute;
  top: -30px;
  left: 0;
  background-color: #d9832e;
  color: #fff;
  font-size: 12px;
  padding: 5px 20px;
}

#blogs .blog_card .blog_info .meta {
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 0 12px;
  display: inline-block;
  border-radius: 3px;
  margin-bottom: 8px;
}

#blogs .blog_card .blog_info h5 {
  font-size: 17px;
  margin-bottom: 5px;
}

#blogs .blog_card .blog_info h5 a {
  color: #090a0c;
}

#blogs .blog_card .blog_info p {
  margin-bottom: 16px;
}

#blogs .blog_card .blog_info > a {
  font-size: 14px;
  font-weight: 600;
  border-bottom: 2px solid #d9832e;
  text-transform: uppercase;
  color: #d9832e;
}

#blogs .blog_card .blog_info > a:hover {
  color: #090a0c;
  border-color: #090a0c;
}

#contacts {
  background-color: #eaedf2;
}

#contacts .contacts_inner .contact_form {
  background-color: #fff;
  border-radius: 5px;
  padding: 30px;
  margin-bottom: 20px;
}

#contacts .contacts_inner .contact_form h3 {
  font-size: 18px;
  font-weight: 600;
  color: #090a0c;
  text-transform: uppercase;
  margin-bottom: 20px;
}

#contacts .contacts_inner .contact_form #contact_form .form_group {
  position: relative;
  margin-bottom: 20px;
}

#contacts .contacts_inner .contact_form #contact_form .form_group input,
#contacts .contacts_inner .contact_form #contact_form .form_group textarea {
  display: block;
  width: 100%;
  outline: 0;
  border: 0;
  font-size: 14px;
  padding: 10px 0;
  color: #495057;
  border-bottom: 1px solid #ccc;
}

#contacts .contacts_inner .contact_form #contact_form .form_group input:focus + span,
#contacts .contacts_inner .contact_form #contact_form .form_group textarea:focus + span {
  width: 100%;
  background-color: #d9832e;
  left: 0;
  right: auto;
}

#contacts .contacts_inner .contact_form #contact_form .form_group span {
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -1px;
  left: auto;
  right: 0;
  -webkit-transition: ease 0.55s;
  transition: ease 0.55s;
}

#contacts .contacts_inner .contact_form #contact_form .form_btn {
  background-color: #d9832e;
  color: #fff;
  border: 0;
  padding: 12px 20px;
  font-size: 14px;
  text-transform: uppercase;
  -webkit-transition: ease-in 0.55s;
  transition: ease-in 0.55s;
  cursor: pointer;
}

#contacts .contacts_inner .contact_form #contact_form .form_btn:hover {
  background-color: #090a0c;
}

#contacts .contacts_inner .contact_info {
  background-color: #fff;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contacts .contacts_inner .contact_info:not(:first-child) {
  margin-top: 20px;
}

#contacts .contacts_inner .contact_info > span {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #d9832e;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  font-size: 19px;
  margin-right: 20px;
}

#contacts .contacts_inner .contact_info .contatct_info_body h5 {
  font-size: 14px;
  color: #090a0c;
  margin-bottom: 8px;
}

#contacts .contacts_inner .contact_info .contatct_info_body p {
  font-size: 14px;
}

#footer {
  background-color: #111;
  padding: 22px 0;
}

#footer .footer_in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .footer_in .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .footer_in .social li a {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  margin-right: 17px;
}

#footer .footer_in p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 992px) {
  #header nav {
    position: absolute;
    top: 100%;
    background-color: #fff;
    width: 100%;
    border: 1px solid #ddd;
    display: none;
  }
  #header nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: block;
  }
  #header nav ul li {
    padding: 8px 15px;
  }
  #header nav ul li:not(:last-child) {
    border-bottom: 1px solid #ddd;
  }
  #header nav ul li a {
    padding: 0;
  }
  #header .nav_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #home .home_inner .home_left h1 {
    font-size: 40px;
  }
  #home .home_inner .home_left h6 {
    font-size: 15px;
  }
  #home .home_inner .home_left h2 {
    font-size: 18px;
  }
  #about .about_inner .about_bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about .about_inner .about_bottom .about_right {
    padding: 0;
  }
}

@media (max-width: 768px) {
  #home {
    height: 100%;
  }
  #home .home_inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #home .home_inner .home_left {
    padding: 30px;
  }
  #home .home_inner .home_left h1 {
    font-size: 35px;
  }
  #home .home_inner .home_left h6 {
    font-size: 14px;
  }
  #home .home_inner .home_left h2 {
    font-size: 16px;
  }
  #about .about_inner .about_bottom .about_right .about_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #footer .footer_in {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #footer .footer_in .social {
    margin-bottom: 15px;
  }
}
/*# sourceMappingURL=style.css.map */